/* assets/css/missionimpossible.css */

body {
    font-family: 'Press Start 2P', Arial, sans-serif;
    color: #FFFFFF;
    background-color: #000000;
    background-repeat: repeat;
  }
  
  .container {
    position: relative;
    border: 3px solid #FFFFFF;
    border-radius: 5px;
    padding: 20px;
    background-color: #222222;
  }
  
  .container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.1));
  }
  
  .container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: repeating-linear-gradient(45deg, transparent, transparent 10px, rgba(255, 255, 255, 0.3) 10px, rgba(255, 255, 255, 0.3) 20px);
    animation: linesAnimation 3s linear infinite;
  }
  
  .card {
    border: 3px solid #FFFFFF;
    background-color: #222222;
  }
  
  .card-title {
    border-bottom: 3px solid #FFFFFF;
  }
  
  input,
  select,
  button {
    border: 3px solid #FFFFFF;
    background-color: #000000;
    color: #FFFFFF;
  }
  
  button {
    color: #000000;
    background-color: #FFFFFF;
  }
  
  button:hover {
    color: #FFFFFF;
    background-color: #000000;
  }
  
  .navbar {
    background-color: #222222;
    border-bottom: 3px solid #FFFFFF;
  }
  
  .navbar-brand,
  .navbar-nav .nav-link {
    color: #FFFFFF;
  }
  
  .navbar-brand:hover,
  .navbar-nav .nav-link:hover {
    color: #FFF;
  }
  